html {
  font-family: Lato;
  font-size: 62.5%; }
  html a {
    text-decoration: none; }

.logo-section {
  margin: 0 auto;
  display: block; }

.left {
  float: left; }

.right {
  float: right; }

header ul {
  list-style: none; }
header li {
  display: inline;
  padding-right: 15px; }
header div.logo {
  float: left;
  padding: 40px 0; }
header nav {
  overflow: hidden;
  text-align: right;
  padding: 50px 0 0 0;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.header {
  text-align: center; }
  .header h1 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #333;
    font-weight: 300; }
    .header h1 span {
      color: #fc3;
      font-weight: 700; }
  .header .epit {
    color: #999;
    font-size: 22px;
    font-style: italic;
    line-height: 30px; }

.wrapper-website {
  background-image: url("../img/background-section1.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  text-align: center;
  opacity: 0.5; }
  .wrapper-website h1 {
    padding: 266px 0 34px;
    color: #fc3;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 0; }
  .wrapper-website h2 {
    padding: 0 0 132px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    margin: 0 0; }
  .wrapper-website span {
    padding: 0 0 290px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    overflow: hidden;
    display: block; }

.wrapper-etanol {
  background-color: #ffca26;
  text-align: center; }
  .wrapper-etanol img {
    display: block;
    padding: 103px 0 60px;
    margin: 0 auto; }
  .wrapper-etanol span {
    color: white;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 0 145px;
    display: block; }

.wrapper-what {
  text-align: center; }
  .wrapper-what h1 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase; }
  .wrapper-what span.epit {
    color: #999;
    font-size: 22px;
    font-style: italic;
    line-height: 30px; }
  .wrapper-what div.news {
    overflow: hidden; }

.wrapper-better {
  text-align: center;
  background-color: #f3f3f3; }
  .wrapper-better .posit {
    position: relative; }
    .wrapper-better .posit .position {
      position: absolute;
      bottom: 25px;
      left: 30px; }
      .wrapper-better .posit .position .seti {
        background-color: #ffca26;
        padding: 30px 22px;
        display: inline;
        margin: 0 10px 0 10px; }
  .wrapper-better .img {
    color: #333;
    line-height: 36px;
    font-size: 29px;
    font-weight: 400;
    padding: 65px 0 0 0;
    display: block; }
    .wrapper-better .img .bold {
      font-size: 37px;
      font-weight: 700; }
  .wrapper-better .img {
    color: #333;
    line-height: 36px;
    font-size: 29px;
    font-weight: 400;
    padding: 65px 0 0 0;
    display: block; }
    .wrapper-better .img .bold {
      font-size: 37px;
      font-weight: 700; }
  .wrapper-better .profile {
    padding: 63px 0 0 59px; }
    .wrapper-better .profile span {
      padding: 27px 0 7px 0;
      display: block;
      color: #999;
      font-size: 14px;
      font-weight: 400; }
  .wrapper-better .progres {
    display: block;
    background-color: #999;
    height: 12px;
    overflow: hidden; }
    .wrapper-better .progres .progres-bar {
      background-color: #ffca26;
      height: 12px; }
  .wrapper-better .result {
    width: 100%;
    display: block;
    overflow: hidden; }
    .wrapper-better .result div {
      background-color: #f3f3f3;
      border: 1px solid #ccc; }
    .wrapper-better .result i {
      display: block;
      color: #fc3;
      padding: 58px 0 41px; }
    .wrapper-better .result span {
      display: block; }
    .wrapper-better .result .number {
      color: #333;
      font-size: 26px;
      font-weight: 700; }
    .wrapper-better .result .name-project {
      color: #999;
      font-size: 16px;
      font-style: italic;
      padding: 14px 0 48px; }

.wrapper-comunity .comunity {
  background-color: #f3f3f3;
  overflow: hidden;
  padding: 100px 0 0 0; }
  .wrapper-comunity .comunity .big-batton {
    background-color: white;
    border-radius: 4px;
    padding: 20px 25px;
    margin: 5px 0; }
    .wrapper-comunity .comunity .big-batton .fafa {
      width: 20%;
      float: left; }
    .wrapper-comunity .comunity .big-batton .name {
      color: #666;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase; }
    .wrapper-comunity .comunity .big-batton .sub {
      display: block;
      color: #999;
      font-size: 14px;
      font-weight: 400; }
  .wrapper-comunity .comunity h1 {
    color: #333;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase; }
  .wrapper-comunity .comunity p {
    color: #999;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }

/*# sourceMappingURL=style.css.map */
