body {
  margin: 0;
}
.wrapper header{
	background: #edeff1;
	width: 2000px;
	height: 150px;
	
	position: fixed;   
	z-index: 9999;
}
.wrapper{
	width: 2000px;
	height: 4437px;
	margin:0px auto;   
	z-index:0;
	}
.button-first-section{
	width: 179px;
	height: 54px;
	background-color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	margin: 79px auto;
}

/*------------------------HEADER---------------------------*/
div.logo h1{
	width: 157px;
	height: 28px;
	color: #31353e;
	font-family: RobotoSlab;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;


}
div.logo h2{
	width: 155px;
	height: 16px;
	color: #dd4b2b;
	font-family: RobotoSlab;
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
}
.logo{
	padding-top: 49px;
	padding-left: 416px;
	float: left;

}
nav{
	padding-left: 381px;
	overflow: hidden;
}

nav ul li{
float: left;
padding-left: 22px;
padding-right: 22px;
margin-top: 68px;
}

nav ul li a{
height: 15px;
font-family: RobotoSlab;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-decoration: none;
color: #31353e;
}

nav ul li.active{
	border-radius: 20px 20px 20px 20px;
	border-right: 1px solid #939598;
	background: #dd4b2b;
}
/*--------------------------SECTION 1-----------*/
.first-section{
/* Style for "photo-14164530" */
background-image: url('../img/background.png');

width: 2000px;
height: 1350px;
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 100%; 
}


section.first-section div.header{
	width: 866px;
	height: 106px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	color: white;
	font-family: RobotoSlab;
	line-height: 48px;
	padding-left: 573px;
	padding-top: 486px;
	background: none;


}
section.first-section h1{
	font-size: 72px;
	font-weight: 300;
	overflow: hidden;
	line-height: 48px;
}
section.first-section h2{
	font-size: 30px;
	font-weight: 700;
	overflow: hidden;
	line-height: 48px;
	padding-left: 180px;
}
section.first-section h3{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	line-height: 48px;

}
section.first-section span{
	width: 326px;
	height: 104px;
	color: white;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	text-align: center;
}
.button-first-section a{
	padding-top: 21px;
	padding-left: 55px;
	text-decoration: none;
	width: 90px;
	height: 14px;
	color: #612316;
	font-family: RobotoSlab;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	line-height: 50px;
}

.news{
	width:1107px;
	height: 333px;
	overflow: hidden;
	color: white;

	margin-top: 122px;
	padding-left: 450px;
}
.news img{
	padding-left: 75px;
	padding-right: 80px;
}
.news1{
	float: left;
	width: 303px;
	height: 305px;
	overflow: hidden;
}
.news2{
	float: left;
	width: 303px;
	height: 333px;
	overflow: hidden;
	padding-left: 80px;
	
}
.news3{
	
	width: 303px;
	height: 305px;
	overflow: hidden;
	padding-left: 75px;
}

/*--------------------------SECTION 2-----------*/
.second-section{
	background:#edeff1
	}
.news-second-section{
	margin: 0 auto;
	width: 1169px;
	height: 601px;
	padding-top: 84px;
 }
 
section.second-section div.header{
	width: 133px;
	height: 23px;
	color: #31353e;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	padding-top: 85px;
	margin: 0 auto;

}
.news-second-section1{
	float: left;
	width: 371px;
	height: 100%;
	overflow: hidden;
}
.news-second-section2{
	float: left;
	width: 371px;
	height: 100%;
	overflow: hidden;
	padding-left: 29px;
}
.news-second-section3{
	overflow: hidden;
	width: 371px;
	height: 100%;
	padding-left: 27px;
}
.text-news{
	width: 288px;
	height: 108px;
	color: #31353e;
	line-height: 30px;
	text-align: center;
	padding-top: 39px;
	margin: 0 auto;
}
.text-news h2{
	font-family: RobotoSlab;
	font-size: 24px;
	font-weight: 700;
}
.text-news span{
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}
.second-section div .button{
	width: 179px;
	height: 54px;
	background-color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	margin: 0 auto;
	margin-top: 38px;
	
}

.second-section div .button a{
	
	margin: 0 auto;
	
	text-decoration: none;
	width: 71px;
	height: 11px;
	color: #4e5159;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 51px;
}
/*--------------------------SECTION 3-----------*/
.third-section{
	background-image: url('../img/background-section3.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 2000px;
	height: 385px;
	background-position: 0px -872px;
	}
.header-third-section{
	width: 154px;
	height: 24px;
	color: white;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
	margin: 0 auto;
	
	padding-top: 90px;
}
.third-section article{
	
	width: 533px;
	height: 40px;
	color: white;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 22px;
}

input{
	width: 509px;
	height: 52px;
	background-color: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 26px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 43px;
	/*padding-top: 19px;*/
	padding-left: 36px;
	margin-left: 747px;
}
.desktop{
	width: 213px;
	height: 54px;
	background-color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	/*float: right;
	padding-top: 19px;
	margin: 0 auto;*/
	position: relative;
	right: 215px;
}
/*--------------------------SECTION 4-----------*/
.fourth-section{
	width: 1998px;
	height: 1018px;
	background-color: white;
	padding-top: 65px;
}
.fourth-section img{
	width: 588px;
	height: 407px;
}
.fourth-section article{
	overflow: hidden;
	width: 1215px;
	height: 407px;
	margin: 0 auto;
	
}
.second-article{
	padding-top: 52px;
}
.right{
	float: right;
}
.left{
	float: left;
}
.text-news-fourth-section{
	width: 562px;
	height: 190px;
}
.text-news-fourth-section h1{
	width: 293px;
	height: 30px;
	color: #191b29;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 23px;
}
.text-news-fourth-section span{
	width: 561px;
	
	
	color: #191b29;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	margin-top: 23px;
	display: block;
}
.button-fourth-section-orang{
	width: 213px;
	height: 54px;
	background-color: #dd4b2b;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	text-align: center;
	overflow: hidden;
	margin-top: 48px;
}
.button-fourth-section-orang a{
	text-decoration: none;
	width: 64px;
	height: 18px;
	color: white;
	font-family: RobotoSlab;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	
	overflow: hidden;
	}
	
.second-article{
	width: 1208x;
	height: 407px;
}
.text-news-fourth-section-right{
	padding-left: 40px;
	overflow: hidden;
}
.text-news-fourth-section-right h1{
	width: 293px;
	
	color: #191b29;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	line-height: 48px;
	overflow: hidden;
}
.text-news-fourth-section-right span{
	width: 575px;
	
	color: #191b29;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	display: block;
	margin-top: 23px;
}
.button-fourth-section-blue{
	width: 213px;
	height: 54px;
	background-color: #4b4e73;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	text-align: center;
	overflow: hidden;
	margin-top: 48px;
	
}
.button-fourth-section-blue a{
	text-decoration: none;
	width: 64px;
	height: 18px;
	color: white;
	font-family: RobotoSlab;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	
}

/*--------------------------SECTION 5-----------*/
.categories{
	width: 2000px;
	height: 412px;
	background-color: #d75d0e;

}

.categories ul{
	float: left;
	width: 141px;
	padding-top: 98px;
	padding-left: 246px;
}
.categories ul:first-child{

	padding-left: 539px;
	
}

.categories ul:last-child{

	padding-left: 281px;
	
}
.categories ul a{
	text-decoration: none;
	color: white;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
}

/*--------------------------FOOTER-----------*/
footer{
	background-image: url('../img/footer.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 2000px;
	height: 385px;
	background-position: 0px -876px;
}
footer article{
	padding-top: 92px;
	margin: 0 auto;
	}
footer article span{
	font-weight: 300;
	text-align: center;
	overflow: hidden;
	display: block;
	color: white;
	font-family: ProximaNova;
	font-size: 18px;
	line-height: 24px;
}
footer article span a{
	text-decoration: none;
	font-weight: 700;
	color: white;
}













