.wrapper header{
	background: #edeff1;
	width: 2000px;
	height: 150px;
	
	position: fixed;   
	z-index: 9999;
}
.wrapper{
	width: 2000px;
	height: 4437px;
	margin:0px auto;   
	z-index:0;
	}
.button{
	width: 179px;
	height: 54px;
	background-color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
	margin:0px auto; 
}
.button a{
	padding-top: 21px;
	padding-left: 55px;
	text-decoration: none;
	width: 71px;
	height: 11px;
	color: #4e5159;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}
/*------------------------HEADER---------------------------*/
div.logo h1{
	width: 157px;
height: 28px;
color: #31353e;
font-family: RobotoSlab;
font-size: 36px;
font-weight: 700;
line-height: 36px;

}
div.logo h2{
width: 155px;
height: 16px;
color: #dd4b2b;
font-family: RobotoSlab;
font-size: 16px;
font-weight: 400;
line-height: 36px;
}
.logo{
padding-top: 49px;
padding-left: 416px;
float: left;

}
nav ul li{
float: left;
padding-left: 22px;
padding-right: 22px;
margin-top: 68px;
}

nav ul li a{
height: 15px;
font-family: RobotoSlab;
font-size: 18px;
font-weight: 400;
line-height: 24px;
text-decoration: none;
color: #31353e;
}

nav ul li.active{
	border-radius: 20px 20px 20px 20px;
	border-right: 1px solid #939598;
	background: #dd4b2b;
}
/*--------------------------SECTION 1-----------*/
.first-section{
/* Style for "photo-14164530" */
background-image: url('../img/background.png');

width: 2000px;
height: 1350px;
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 100%; 
}


section.first-section div.header{
width: 866px;
height: 106px;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
color: white;
font-family: RobotoSlab;
line-height: 48px;
padding-left: 573px;
padding-top: 486px;
background: none;

}
section.first-section h1{
font-size: 72px;
font-weight: 300;
overflow: hidden;

}
section.first-section h2{
font-size: 30px;
font-weight: 700;
overflow: hidden;
}
.news{
width:1107px;
height: 333px;
overflow: hidden;
color: white;

padding-top: 122px;
padding-left: 450px;
}
.news img{
	padding-left: 75px;
	padding-right: 80px;
}
.news1{
	float: left;
	width: 303px;
	height: 305px;
	overflow: hidden;
}
.news2{
	float: left;
	width: 303px;
	height: 305px;
	overflow: hidden;
	
}
.news3{
	
	width: 303px;
	height: 305px;
	overflow: hidden;
}

/*--------------------------SECTION 2-----------*/
.second-section{
	background:#edeff1
	}
.news-second-section{
	margin: 0 auto;
	width: 1169px;
	height: 601px;
	padding-top: 84px;
 }
 
section.second-section div.header{
	width: 133px;
	height: 23px;
	color: #31353e;
	font-family: RobotoSlab;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	padding-top: 85px;
	margin: 0 auto;

}
.news-second-section1{
	float: left;
	width: 371px;
	height: 494px;
	overflow: hidden;
}
.news-second-section2{
	float: left;
	width: 371px;
	height: 494px;
	overflow: hidden;
	padding-left: 29px;
}
.news-second-section3{
	overflow: hidden;
	width: 371px;
	height: 494px;
	padding-left: 27px;
}
.text-news{
	width: 288px;
	height: 108px;
	color: #31353e;
	line-height: 30px;
	text-align: center;
	padding-top: 39px;
	margin: 0 auto;
}
.text-news h2{
	font-family: RobotoSlab;
	font-size: 24px;
	font-weight: 700;
}
.text-news span{
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}
.second-section div .button{
	width: 179px;
	height: 54px;
	background-color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 27px;
}

.second-section div .button a{
	padding-left: 56px;
	padding-top: 21px;

	width: 71px;
	height: 11px;
	color: #4e5159;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}
/*--------------------------SECTION 3-----------*/

/*--------------------------SECTION 4-----------*/